fastapi
uvicorn[standard]
python-multipart
chromadb
langchain
langchain-google-genai
langchain-google-vertexai
langchain-community
langchain-text-splitters
langgraph
pypdf
python-dotenv
pydantic
typing-extensions
google-generativeai
google-cloud-aiplatform
docling